:root{
  --cv-brand-10: #0B1D1D;
  --cv-brand-20: #0D332D;
  --cv-brand-30: #0F493E;
  --cv-brand-40: #10604E;
  --cv-brand-50: #12765F;
  --cv-brand-60: #148C6F;
  --cv-brand-70: #15A280;
  --cv-brand-80: #17B890;
  --cv-brand-90: #39C2A0;
  --cv-brand-100: #56CAAE;
  --cv-brand-110: #73D3BB;
  --cv-brand-120: #8FDBC9;
  --cv-brand-130: #AAE3D5;
  --cv-brand-140: #C5EBE2;
  --cv-brand-150: #E0F2EF;
  --cv-brand-160: #FAFAFB;
  --cv-secondary-10: #0E141B;
  --cv-secondary-20: #141E29;
  --cv-secondary-30: #1A2837;
  --cv-secondary-40: #1F3245;
  --cv-secondary-50: #253D53;
  --cv-secondary-60: #2B4761;
  --cv-secondary-70: #30516F;
  --cv-secondary-80: #365B7D;
  --cv-secondary-90: #537290;
  --cv-secondary-100: #6D87A0;
  --cv-secondary-110: #859BB0;
  --cv-secondary-120: #9EAFC0;
  --cv-secondary-130: #B5C2CF;
  --cv-secondary-140: #CCD5DE;
  --cv-secondary-150: #E3E8EC;
  --cv-secondary-160: #FAFAFB;
  --cv-danger-10: #200B10;
  --cv-danger-20: #3C0B11;
  --cv-danger-30: #570A11;
  --cv-danger-40: #730911;
  --cv-danger-50: #8F0812;
  --cv-danger-60: #AB0812;
  --cv-danger-70: #C70713;
  --cv-danger-80: #E30613;
  --cv-danger-90: #E62A35;
  --cv-danger-100: #E94A54;
  --cv-danger-110: #EC6971;
  --cv-danger-120: #EF878E;
  --cv-danger-130: #F2A4AA;
  --cv-danger-140: #F5C1C5;
  --cv-danger-150: #F7DEE0;
  --cv-danger-160: #FAFAFB;
  --cv-warning-10: #201B0E;
  --cv-warning-20: #3D2E0C;
  --cv-warning-30: #59420A;
  --cv-warning-40: #765508;
  --cv-warning-50: #926806;
  --cv-warning-60: #AF7B04;
  --cv-warning-70: #CB8F02;
  --cv-warning-80: #E8A200;
  --cv-warning-90: #EBAF25;
  --cv-warning-100: #EDBB46;
  --cv-warning-110: #EFC666;
  --cv-warning-120: #F2D185;
  --cv-warning-130: #F4DBA3;
  --cv-warning-140: #F6E6C1;
  --cv-warning-150: #F8F0DE;
  --cv-warning-160: #FAFAFB;
  --cv-info-10: #0C1C24;
  --cv-info-20: #0F303D;
  --cv-info-30: #124457;
  --cv-info-40: #145870;
  --cv-info-50: #176C8A;
  --cv-info-60: #1A81A3;
  --cv-info-70: #1C95BD;
  --cv-info-80: #1FA9D6;
  --cv-info-90: #3FB5DB;
  --cv-info-100: #5CC0E0;
  --cv-info-110: #78CAE5;
  --cv-info-120: #93D4EA;
  --cv-info-130: #ADDEEE;
  --cv-info-140: #C7E7F2;
  --cv-info-150: #E1F1F7;
  --cv-info-160: #FAFAFB;
  --cv-accent-10: #121626;
  --cv-accent-20: #1C2243;
  --cv-accent-30: #272E60;
  --cv-accent-40: #313B7D;
  --cv-accent-50: #3B479A;
  --cv-accent-60: #4553B6;
  --cv-accent-70: #5060D3;
  --cv-accent-80: #5A6CF0;
  --cv-accent-90: #7281F2;
  --cv-accent-100: #8794F3;
  --cv-accent-110: #9BA6F4;
  --cv-accent-120: #AFB7F6;
  --cv-accent-130: #C2C8F7;
  --cv-accent-140: #D5D9F8;
  --cv-accent-150: #E8EAFA;
  --cv-accent-160: #FAFAFB;
  --cv-neutral-10: #0E0F11;
  --cv-neutral-20: #171A1C;
  --cv-neutral-30: #212427;
  --cv-neutral-40: #2D3134;
  --cv-neutral-50: #3B4045;
  --cv-neutral-60: #4B5258;
  --cv-neutral-70: #5E666E;
  --cv-neutral-80: #6C767F;
  --cv-neutral-90: #808A93;
  --cv-neutral-100: #969EA6;
  --cv-neutral-110: #ACB3B9;
  --cv-neutral-120: #C2C7CB;
  --cv-neutral-130: #D6D9DC;
  --cv-neutral-140: #E3E6E8;
  --cv-neutral-150: #F1F2F3;
  --cv-neutral-160: #FBFBFB;
  --cv-brand-background: #17B890;
  --cv-brand-background-hover: #15A280;
  --cv-brand-background-pressed: #148C6F;
  --cv-on-brand-text: #0E0F11;
  --cv-brand-foreground-link: #12765F;
  --cv-brand-stroke: #15A280;
  --cv-secondary-background: #365B7D;
  --cv-secondary-hover: #30516F;
  --cv-secondary-foreground: #537290;
  --cv-success-foreground: #12765F;
  --cv-success-background: #E0F2EF;
  --cv-success-fill: #17B890;
  --cv-danger-foreground: #E62A35;
  --cv-danger-background: #F7DEE0;
  --cv-danger-fill: #E30613;
  --cv-warning-foreground: #EBAF25;
  --cv-warning-background: #F8F0DE;
  --cv-warning-fill: #E8A200;
  --cv-info-foreground: #3FB5DB;
  --cv-info-background: #E1F1F7;
  --cv-info-fill: #1FA9D6;
  --cv-text-primary: #2E4C68;
  --cv-text-secondary: #6B7A88;
  --cv-surface: #FFFFFF;
  --cv-surface-alt: #FBFBFB;
}